<%- include('../includes/header') %>

<h1>Create a new account</h1>

<form action="/users/signup" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" minlength="6" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" required>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" minlength="6" required>
    </div>

    <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input id="passwordConfirm" name="passwordConfirm" type="password" minlength="6" required>
    </div>

    <div>
        <br>
        <% if(locals.err){ %>
        <ul>
            <% err.forEach(error => { %>
            <li class='error'><%= error %></li>
            <% }) %>
        </ul>
        <% } %>
    </div>

    <button>Sign Up</button>

    <p>Already have an account? <a href="/login" class="link">Login</a></p>
</form>

<%- include('../includes/footer') %>