<div class="heart-container" id="heart-container">
    <i class="fas fa-heart"></i> <span id="hearts">0</span>
</div>
</div><!-- div.container -->
<footer>
    <p>
        Quizzy &copy; Copyright <%= new Date().getFullYear() %>
    </p>
</footer>

<script src="/js/heart.js"></script>
<script src="/js/menu.js"></script>
</body>

</html>