</div><!-- div.container -->
<footer>
    <p class="footer-info">
        Quizzy @ Baraja Softs
    </p>
    <button class="heart-container" id="heart-container">
        <i class="fas fa-heart"></i> <span id="hearts">0</span>
    </button>
</footer>

<script src="/js/heart.js"></script>
<script src="/js/menu.js"></script>
</body>

</html>