<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title === undefined ? "Quizzy" : title %></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>
    <h1>Quizzy</h1>
    <a href="/quizzes/add">Create Quiz</a>