<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title === undefined ? "Quizzy" : title %></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>
    <h1>Quizzy</h1>
    <a class="btn" href="/">Home</a> |
    <% if(locals.isLoggedIn){ %>

    <a class="btn" href="/account">My account</a> |
    <form action="/users/logout" method="POST">
        <button>Logout</button> |
    </form>
    <a class="btn" href="/quizzes/add">Create Quiz</a>

    <% } else { %>

    <a class="btn" href="/login">Login</a> |
    <a class="btn" href="/signup">Signup</a>

    <% } %>