<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/popup.css" type="text/css">
    <link rel="stylesheet" href="/css/quizResult.css" type="text/css">
    <title><%= locals.title === undefined ? "Quizzy Quiz App" : title %></title>

    <!-- META TAGS -->
    <meta name="description" content="Create and take quizzes. A simple quiz application made by Baraja Swarigary.">
    <meta name="theme-color" content="dodgerblue">

    <!-- OG TAGS -->
    <meta property="og:title" content="Quizzy Quiz App">
    <meta property="og:description"
        content="Create and take quizzes. A simple quiz application made by Baraja Swarigary.">
    <meta property="og:image" content="/img/quizzy ogimage.jpg">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
</head>

<body>
    <header>
        <h1 class="heading"><a href="/">Quizzy</a></h1>
        <button id="button--menu"><i class="fas fa-bars"></i></button>
        <nav id="menu">
            <ul>
                <li>
                    <a class="nav__link" href="/"><i class="fas fa-home"></i> Home</a>
                    <div class="underline"></div>
                </li>

                <li>
                    <a class="nav__link" href="/about"><i class="fas fa-info-circle"></i> About</a>
                    <div class="underline"></div>
                </li>
                <% if(locals.isLoggedIn){ %>

                <li>
                    <a class="nav__link" href="/account"><i class="fas fa-user"></i> My account</a>
                    <div class="underline"></div>
                </li>
                <li>
                    <a class="nav__link" href="/quizzes/add"><i class="fas fa-pen"></i> Create Quiz</a>
                    <div class="underline"></div>
                </li>
                <li>
                    <form action="/users/logout" method="POST">
                        <button type="submit" class="nav__link">Logout</button>
                    </form>
                    <div class="underline"></div>
                </li>
                <% } else { %>
                <li>
                    <a class="nav__link" href="/login">Login</a>
                    <div class="underline"></div>
                </li>
                <li>
                    <a class="nav__link" href="/signup">Signup</a>
                    <div class="underline"></div>
                </li>
                <% } %>
            </ul>
        </nav>
    </header>
    <div class="container">