<%- include('includes/header') %>

<h1>About Quizzy</h1>

<p>
    <br>Quizzy is my simple personal project where you can create, delete and take
    quizzes.
    <br>Created by <a href="https://barajasss.github.io" target="_blank" class="link">Baraja
        Swargiary.</a>

</p>

<br>
<div>
    <h3>Dedicated to</h3>
    My Family | Friends
</div>

<br>
<h2>Technology Stack Used</h2>
<p>
    NodeJS | Express | MongoDB | Mongoose
    <br><br>
    <a href="https://github.com/barajasss/quizzy" target="_blank" class="link"><i class="fas fa-code"></i> GitHub
        Source Code</a>
</p>


<div style="padding: 0.5rem; padding-top: 1.5rem; border-top: 2px solid dodgerblue; background-color: lightyellow;">
    <p>My contact details for any questions, requests,
        suggestions:</p>
    <p>
        Phone: <strong>84729-01882</strong>
        <br>Email: <strong>barajaswargiary4444@gmail.com</strong>
    </p>
</div>

<h2>Send me any message</h2>
<div>
    <h3 id="form--status"></h3>
    <form id="form--message">
        <input id="input--name" name="name" type="text" placeholder="Your Name" required>
        <input id="input--message" name="message" type="text"
            placeholder="Any message you like. I receive it on my email" required>
        <br>
        <button id="button--send-message" class="success" style="margin-left: 0;">Send to Baraja <i
                class="fas fa-paper-plane"></i></button>
    </form>
</div>

<script src="/js/about.js"></script>

<%- include('includes/footer') %>