<%- include('includes/header') %>

<h1>About Quizzy</h1>

<p>
    Quizzy is a simple project where you can create, delete and take quizzes.

    <br><br>Created by <a href="https://barajasss.github.io" target="_blank" class="link">Baraja
        Swargiary.</a>

</p>

<br>
<div>
    <h3>Dedicated to</h3>
    My Family | Friends
</div>

<br>
<h2>Technology Stack Used</h2>
<p>
    NodeJS | Express | MongoDB | Mongoose
    <br><br>
    <a href="https://github.com/barajasss/quizzy" target="_blank" class="link"><i class="fas fa-code"></i> GitHub
        Source Code</a>
</p>


<div style="padding: 0.5rem; padding-top: 1.5rem; border-top: 2px solid dodgerblue; background-color: lightyellow;">
    <p>My contact details for any questions, requests,
        suggestions:</p>
    <p>
        Phone: <strong>84729-01882</strong>
        <br>Email: <strong>barajaswargiary4444@gmail.com</strong>
    </p>
</div>

<%- include('includes/footer') %>