<%- include('includes/header') %>

<h1>About Quizzy</h1>

<p>
    Quizzy is a simple project created by <a href="https://barajasss.github.io" target="_blank" class="link">Baraja
        Swargiary.</a>

</p>

<br>
<div>
    <h3>Dedicated to</h3>
    My Family | Friends
</div>

<br>
<h2>Technology Stack Used</h2>
<p>
    NodeJS | Express | MongoDB | Mongoose
    <br><br>
    <a href="https://github.com/barajasss/quizzy" target="_blank" class="link"><i class="fas fa-code"></i> GitHub
        Source Code</a>
</p>

<%- include('includes/footer') %>