<%- include('../includes/header') %>

<form id="create-quiz-form" action="/quizzes/add" method="POST" class="form">
    <div class="form-group">
        <label class="form__label" for="form__title">Title</label>
        <br><br>
        <input class="form__input" id="form__title" type="text" name="title" required>
    </div>

    <div class="form-group">
        <label class="form__label" for="form__description">Description</label>
        <br><br>
        <textarea class="form__input" id="form__description" name="description" rows="6" required></textarea>
    </div>

    <div class="form-group">
        <label class="form__label" for="form__difficulty">Difficulty</label>
        <select class="form__select" id="form__difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium" selected>Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <div id="question-container"></div>


    <button id="add-question-btn">Add Question</button>
    <button id="delete-question-btn">Delete Question</button>

    <button type="submit">Create Quiz</button>

</form>



<script src="/js/addQuiz.js"></script>

<%- include('../includes/footer') %>